section.html-editor {
	display: flex;
	flex-direction: column;
	margin-bottom: 0 !important;
	flex: 1;
}

section.html-editor > section.editor {
	flex: 1;
}

section.html-editor .edit-text section.tool-bar {
	justify-content: flex-end;
}

section.html-editor section.tool-bar {
	margin-bottom: -1px;
	display: flex;
	flex-direction: row;
}

section.html-editor section.editor .tool-bar {
	border-bottom: 1px solid #000;
	margin-bottom: 0;
}

section.html-editor section.tool-bar .left,
section.html-editor section.tool-bar .right{
	display: flex;
	flex-direction: row;
	flex: 1;
}

section.html-editor section.tool-bar .right {
	justify-content: flex-end;
}

section.html-editor section.tool-bar {
	overflow: scroll;
}

section.html-editor section.tool-bar div.button {
	user-select: none;
	cursor: pointer;
	background-color: black;
	color:  white;
	font-weight: bold;
	border: 1px solid #333;
	padding: 0.5rem;
	min-width: 4em;
	text-align: center;
}

section.html-editor section.tool-bar button img {
	background-color: white;
}

section.html-editor section.tool-bar div.button[data-active=false] {
	font-weight: normal;
	opacity: 0.75;
}

section.html-editor section.tool-bar div.button:not(:last-child) {
	margin-right: -1px;
}

section.html-editor > section.editor section.edit-view {
	display: flex;
	flex-direction: row;
	flex: 1;
}

section.html-editor section.edit-view > section {
	position: relative;
}

section.html-editor section.edit-view:empty {
	display: none !important;
}

section.html-editor section.editor {
	border-left:1px solid #000;
}

section.html-editor section.preview-html,
section.html-editor section.edit-html,
section.html-editor section.edit-data,
section.html-editor section.edit-text {
	border:1px solid #000;
	border-left: 0;
	position: relative;
	overflow: scroll;
	flex: 1;
}

section.html-editor section.preview-html > div,
section.html-editor section.edit-data .CodeMirror,
section.html-editor section.edit-text .CodeMirror {
	position: absolute;
}

section.html-editor section.preview-html > div,
section.html-editor section.edit-html .editable,
section.html-editor section.edit-data .CodeMirror,
section.html-editor section.edit-data textarea,
section.html-editor section.edit-text .CodeMirror,
section.html-editor section.edit-text textarea {
	padding: 1rem;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
}

section.html-editor section.edit-html .editable [cv-bind]::after {
	content: '[[' attr(cv-bind) ']]';
	font-family: monospace;
	color: #444;
	border: 1px dashed #999;
	display: inline;
}

section.html-editor section.preview-html:empty,
section.html-editor section.edit-html:empty,
section.html-editor section.edit-data:empty,
section.html-editor section.edit-text:empty {
	display: none;
}

section.html-editor section.editor {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

section.html-editor section.editor {
	position: relative;
}

section.html-editor section.flyin-bottom {
	z-index: 10;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	transform: translateY(0px);
	opacity: 1;
	background-color: white;
	border:1px solid #000;
	border-left: 0;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

section.html-editor section.flyin-right {
	z-index: 10;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	transform: translateX(0px);
	opacity: 1;
	background-color: white;
	border:1px solid #000;
	padding: 1rem;
	min-width: 16em;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

section.html-editor section.flyin-left {
	z-index: 10;
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	transform: translateX(0px);
	opacity: 1;
	background-color: white;
	border:1px solid #000;
	padding: 1rem;
	min-width: 16em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

section.html-editor section.flyin-bottom[data-selected=false] {
	transform: translateY(100%);
	opacity: 0;
}

section.html-editor section.flyin-right[data-selected=false] {
	transform: translateX(100%);
	opacity: 0;
}

section.html-editor section.flyin-left[data-selected=false] {
	transform: translateX(-100%);
	opacity: 0;
}

section.html-editor h3:first-child {
	margin-top: 0;
}

section.html-editor section.tool-bar.row input[type=text],
section.html-editor section.tool-bar.row input[type=url] {
	border: 0;
	flex: 1;
}

section.html-editor section.tool-bar.row input[list=fontSize] {
	width: 4em;
}

section.html-editor section.tool-bar.row button {
	font-size: 0.75rem;
	cursor: pointer;
	padding: 0;
	min-width: 36px;
	min-height: 36px;
	box-sizing: border-box;
}

section.html-editor section.tool-bar.row input[type=color] {
	min-height: 32px;
	min-width: 60px;
	max-width: 60px;
}
