section.donate,
form.top-form,
ul.messages {
	width: 30em;
	margin: auto;
}

ul.comments,
ul.messages {
	list-style: none;
	padding-left: 0;
}

section.comments form {
	display: flex;
	flex-direction: row;
}

section.comments input[type="text"] {
	flex: 1;
}

section.comments input[type="submit"] {
	font-size: 0.65em;
	border: 0;
	border-radius: 0;
	margin-left: 0.5em;
	background-color: #222;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

section.comments span.author {
	font-size: 0.75em;
	font-weight: 600;
}

section.comments .icon {
	height: 2em;
	margin-left: 0;
	margin-right: 0.5em;
}

ul.comments li {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul.comments li div.text {
	margin-top:    auto;
	margin-bottom: auto;
	margin-right:  1em;
	margin-left:   1em;
}

ul.comments li div.text .body > div p:first-child {
	margin-top: 0;
}

ul.comments li div.text .body > div p:last-child {
	margin-bottom: 0;
}

ul.comments li:not(:first-child) {
	border-bottom: 1px solid #ccc;
}

ul.comments {
	display: flex;
	flex-direction: column-reverse;
}

ul.messages {
	display: flex;
	flex-direction: column-reverse;
}

section.donate {
	margin-top: 1em;
}

form.post,
ul.messages > li {
	margin-top: 2em;
}

ul.messages {
	margin-top: 0em;
	margin-bottom: 2em;
}

section.body {
	position: relative;
}

ul.messages > li section:not(:last-child) {
	margin-bottom: 0.5rem;
}

ul.messages > li section.comments {
	text-align: right;
}

ul.messages > li section.comments {
	text-align: right;
	font-size: 0.75rem;
}

div.avatar {
	display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	background-image: var(--avatar, url('avatar.jpg'));
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 3.25em;
	height: 3.25em;
}

section.comments div.avatar {
	flex-shrink: 0;
	width: 2.5em;
	height: 2.5em;
}

section.author {
	display: flex;
	flex-direction: row;
	align-items: center;
}

section.author > div:nth-child(2) {
	padding-left: 0.5rem;
}

span.author {
	font-size: 1.35rem;
	font-weight: bold;
}

section.author small {
	line-height: 1.5em;
}

span.author > * {
}

span.author a {
}

span.author,
ul.messages > li span.body {
	font-family: sans;
}

ul.messages section.body.text > span {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.35rem;
	white-space: pre-wrap;
}

ul.messages > li pre {
	margin-bottom: 0;
	margin-top: 0;
}

section.reaction-bar {
	font-size: 0.75em;
}

section.reaction-bar a {
     color: blue;
}

ul.messages > li span.author a {
	text-decoration: none;
	color: black;
}

ul.messages > li.verify-failed span.author a:after {
	content:  '?';
}

ul.messages > li {
	transition: opacity 0.5s ease-in, filter 0.25s ease-in;
}

ul.messages > li.verify-pending {
	opacity: 0.75;
	filter: blur(1px);
}

ul.messages > li.verify-failed {
	background-color: rgba(128,64,64,0.75);
	opacity: 0.95;
}

ul.messages > li.verified {
	opacity: 1;
}

ul.messages > li.verified .verify.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	background-image: url(lock-verified.svg);
	background-size: contain;
}

ul.messages .body img,
ul.messages .body audio,
ul.messages .body video,
ul.messages .body iframe {
	/*width: 100%;*/
}

ul.messages .body iframe {
	border: none;
}

.controls > span > a {
	margin-left: 0.5em;
}
