/.env
/.env.*
/.env_*
/.lock_env
/.var
vendor/*
!infra/env/.env
!infra/env/.env.*
data/local

mobile/.expo/web/cache

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

