.arctype-host {
	position: absolute;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255,0,0,0.2);
	font-size: 2rem;
	transition: opacity 111ms ease-out;
}

.arctype-host:not([data-active="true"]) {
	pointer-events: none;
	opacity: 0;
}

.arctype-host input {
	font-size: 1.2rem;
}

.arctype-wing {
	transform-origin: right center;
	position: absolute;
	width: 5em;
	height: 0.5em;
	--rotate: 0deg;
	transform: translateX(-50%) rotate(calc(1 * var(--rotate)));
	display: flex;
	align-items: center;
}

.arctype-sector {
	background-color: #300;
	display: inline-block;
	transform: translateX(-50%) rotate(calc(-1 * var(--rotate)));
	transform-origin: 50% 50%;
	border-radius: 50%;
	--size: 3em;
	width: var(--size);
	height: var(--size);
	transition: transform 195ms ease-out, background-color 64ms ease-out;
	box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.5);
}

.arctype-selected .arctype-sector{
	background-color: #644;
	transform: translateX(-50%) rotate(calc(-1 * var(--rotate))) scale(1.25);
	transition: transform 64ms ease-in, background-color 64ms ease-out;
}

.arctype-selected {
	z-index: 10;
}

.arctype-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	--space: 0.85em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: #900;
}

.arctype-button span {
	font-size: 0.65em;
}

.arctype-button:nth-child(1) {
	transform: translate(-50%, calc(-50% + var(--space)));
}

.arctype-button:nth-child(2) {
	transform: translate(calc(-50% + var(--space)), -50%);
}

.arctype-button:nth-child(3) {
	transform: translate(calc(-50% - var(--space)), -50%);
}

.arctype-button:nth-child(4) {
	transform: translate(-50%, calc(-50% - var(--space)));
}

.arctype-wing:nth-child(1) {
	--rotate: 90deg;
}

.arctype-wing:nth-child(2) {
	--rotate: 135deg;
}

.arctype-wing:nth-child(3) {
	--rotate: 180deg;
}

.arctype-wing:nth-child(4) {
	--rotate: 225deg;
}

.arctype-wing:nth-child(5) {
	--rotate: 270deg;
}

.arctype-wing:nth-child(6) {
	--rotate: 315deg;
}

.arctype-wing:nth-child(7) {
	--rotate: 0deg;
}

.arctype-wing:nth-child(8) {
	--rotate: 45deg;
}
