:root {
	--normal-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.45);
	--main-box-bg: rgba(255,255,255,0.89);
}

section.ui-box,
section.donate,
form.post,
ul.messages > li {
	box-sizing: border-box;
	padding: 1em;
	border:  1px solid rgba(0,0,0,0.5);
	background-color: var(--main-box-bg);
	overflow: hidden;
}

section.ui-box{
	margin-bottom: 2rem;
}

section.ui-box,
form.post,
section.header,
ul.messages > li {
	box-shadow: var(--normal-shadow);
}

.small-label {
	font-size: 10pt;
	margin-bottom: 4pt;
}

.small-label:not(first-child) {
	margin-top: 8pt;
}

button.flat-black,
.black-button,
section.pay-bar .submit button,
form.post input[type="submit"],
form.post input[type="button"] {
	background-color: black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.65em;
	font-weight: bold;
	border: 0;
	/*border-radius: 5px;*/
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	min-height: 35px;
}


.white-button{
	background-color: white;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.65em;
	font-weight: bold;
	border: 1px solid black;
	/*border-radius: 5px;*/
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	min-height: 35px;
}
