::-webkit-scrollbar {
	height: 7px;
	width: 7px;
	background-color: #ccc;
	border: 1px solid #999;
}
::-webkit-scrollbar-thumb {
    background: #666;
}

section.chat-page {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
}

section.chat-page .chat-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.chat-icon[data-url=""] {
	display: none;
}

.super-chat-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.65);
	backdrop-filter: blur(2px);
	z-index: 100;
}

.super-chat-overlay:empty {
	display: none;
}

.super-chat-expanded {
	background-color: var(--color);
	box-shadow: inset 0 0 0 4px rgba(128,128,128,0.5);
	max-width: 480px;
	min-width: 400px;
	min-height: 240px;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	max-height: 100%;
	box-shadow: 0 0.5em 0.25em rgba(0,0,0,0.25);
}

.super-chat-expanded .name {
	opacity: 0.85;
	font-size: 1.5em;
	text-decoration: underline;
	margin-bottom: 0.5rem;
}

.super-chat-expanded .time {
	opacity: 0.85;
	font-size: 0.85em;
	text-decoration: underline;
	margin-bottom: 0.5rem;
}

.super-chat-expanded .body {
	font-size: 1.2rem;
	overflow-y: auto;
	flex-grow: 1;
	margin-bottom: 0.5rem;
}

.super-chat-expanded .amount {
	text-align: right;
	font-size: 3em;
	opacity: 0.5;
}

.super-chat-expanded .close-button {
	cursor: pointer;
	opacity: 0.65;
	position: absolute;
	right: 0.666rem;
	top: 0.666rem;
	width: 1.1rem;
	height: 1.1rem;
	margin: 0;
}

.chat-icon {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: var(--url);
	width: 1em;
	height: 1em;
}

.flex-frame {
	display: flex;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.flex-frame:not(:last-child) {
}

.flex-frame:not(.shrink) {
	flex: 1;
}

section.chat-page .chat-box .table {
}

section.chat-page .chat-box .table .table-row {
	border: 1px solid transparent;
	position: relative;
	align-items: center;
	font-size: 10.5pt;
	line-height: 28px;
	display: flex;
	left: 0;
	right: 0;
}

section.chat-page .chat-box {
	border:  1px solid #000;
}

section.chat-page .chat-box .table .table-row > div {
	white-space: pre;
}

section.chat-page .chat-box .table .table-row > div.chat-index {
	font-size: 0.75em;
	letter-spacing: -1px
}

section.chat-page .chat-box .table .table-row > div.chat-username {
	font-size: 0.95em;
}

section.chat-page .chat-box .table .table-row > div:last-child {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

section.chat-page .chat-page:hover {
	background-color: rgba(204,204,204,0.75);
}

section.chat-page .chat-box .table {
	overflow-x: hidden;
}

section.chat-page .chat-box .table .table-row.selected {
	z-index: 1;
}

/*section.chat-page .chat-box .table .table-row:hover > div:last-child,*/
section.chat-page .chat-box .table .table-row.selected > div:last-child {
	white-space: break-spaces;
	overflow: visible;
	right: unset;
}

section.chat-page .chat-box .table .table-row > div:last-child > span {
	position: absolute;
	top: 0;
	display: inline-block;
}

section.chat-page .chat-box .table .table-row.selected > div:last-child {
	flex: 1;
}

section.chat-page .chat-box .table .table-row.selected,
section.chat-page .chat-box .table .table-row.selected > div:last-child > span {
	background-color: #f2f0bb;
}


section.chat-page .chat-box .table .table-row:hover {
	border: 1px solid #aaa;
}

section.chat-page .chat-box .table .table-row.selected {
	filter: drop-shadow(0em 0.75em 0.25em rgba(0,0,0,0.5));
}

section.chat-page form {
	display: contents;
}

section.chat-page .chat-input {
	display: flex;
	width: 100%;
}

section.chat-page .chat-input {
	margin-top: 0.75rem;
}

section.chat-page .chat-input input[type="text"] {
	border: 1px solid black;
	border-radius: 0px;
	flex: 1;
}

section.chat-page .tool-bar button.matrix-login {
	background-image: url(/user.svg);
}

section.chat-page .tool-bar button.super-chat {
	background-image: url(/dollar.svg);
}

section.chat-page .tool-bar button.emoji {
	background-image: url(/smiley.svg);
}

section.chat-page .tool-bar button.image {
	background-image: url(/image-icon.svg);
}

section.chat-page .tool-bar button.pop {
	background-image: url(/pop-out.svg);
}

body > section.chat-page .tool-bar button.pop {
	background-image: url(/pop-in.svg);
}

section.chat-page .tool-bar {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

.tool-bar .right {
	flex: 1;
}

body > section.chat-page {
	height: 100%;
}

section.chat-frame {
	display: contents;
}

section.chat-page .tool-bar button {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.25em;
	margin-right: 0.5rem;
	min-height: auto;
	border-radius: 50%;
	height: 3em;
	width: 3em;
}

section.chat-page .tool-bar .right button {
	margin-right: 0rem;
	margin-left: 0.5rem;
}

.table.emoji-list {
	min-height: 22rem;
	margin-bottom:  1rem;
	margin-top:  1rem;
	border: 1px solid;
}

.table .table-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #aaa;
	width: 100%;
}

.table.emoji-list .emoji-glyph {
	font-size: 20px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.table.emoji-list .emoji-name {
	font-size: 0.8rem;
}

.super-chats:empty {
	display: none;
}

.super-chat-frame {
	min-height: 3rem;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 0.75rem;
	border:  1px solid #000;
}

.super-chat-payment-frame {
	min-height: 3rem;
	margin-bottom: 0.75rem;
	border:  1px solid #aaa;
}

.super-chats {
	position: absolute;
	font-size: 0.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;;
	margin-bottom: 0.75rem;
	padding-bottom: 0.25rem;
	padding: 0.1rem;
	padding-top: 0.25rem;
}

.super-chat {
	position: relative;
	background-color: var(--color);
	box-shadow: inset 0 0 0 2px rgba(128,128,128,0.5);
	font-weight: bold;

	/*background-color: #9a1111;*/
	/*border: 2px solid #7e2c2c;*/

	margin-right: 0.1rem;
	margin-left: 0.1rem;
	padding: 0.5rem;
	padding-left: 0.666rem;
	padding-right: 0.666rem;
	border-radius: 45px;
	white-space: pre;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 0.85rem;
}

.super-chat > span {
	display: block;
	height: 0.85rem;
}

.super-chat > * {
	line-height: 0.85rem;
}

.super-chat > b {
	height: 0.75rem;
	font-size: 0.75rem;
	margin-right: 0.25rem;
	background-color: rgba(0,0,0,0.666);
	color: white;
	border-radius: 4px;
	padding: 3px;
}

.scroll-to-end {
	width: 2em;
	height: 2em;
	background-image: url(/down-arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
	position: absolute;
	z-index: 4;
	right: 15px;
	top: 8px;
	box-shadow: 0rem 0.25rem 0.25rem rgba(0,0,0,0.5);
}

.pay-bar .overlay-frame {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-top: 1rem;
	flex: 1;
}

.pay-bar .braintree-dropin {
	position: relative;
	margin-bottom: 2em;
	margin-right: 1em;
	margin-left: 1em;
}

.pay-bar .super-chat-payment-frame {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	resize: none;
	padding: 0;
	width:  100%;
	height: 100%;
	flex:   1;
}

.braintree-large-button.braintree-toggle {
	background-color: transparent;
}

.pay-bar .super-chat-payment-frame input,
.pay-bar .super-chat-payment-frame textarea {
	padding: 0.5rem;
	border-radius: 0;
	border: none;
}

.pay-bar .super-chat-payment-frame input {
	border-bottom: 1px solid #AAA;
}

.pay-bar .super-chat-payment-frame textarea {
	resize: none;
	flex: 1;
}

.pay-bar[data-step="1"] .super-chat-payment-frame,
.pay-bar[data-step="2"] .super-chat-payment-frame {
	display: none;
}

.pay-bar[data-step="1"] input[type="text"],
.pay-bar[data-step="2"] input[type="text"],
.pay-bar[data-step="1"] textarea,
.pay-bar[data-step="2"] textarea {
	pointer-events: none;
	opacity: 0;
}
