<section class = "ui-box sycamore-profile">
	<div class = "header" style = "--background: url([[image.url]])"></div>
	<div class = "profile-pic" style = "--background: url([[icon.url]])"></div>

	<span cv-if= "preferredUsername">
		<div class = "small-label">preferredUsername</div>
		<div>[[preferredUsername]]</div>
	</span>

	<span cv-if= "name">
		<div class = "small-label">name</div>
		<div>[[name]]</div>
	</span>

	<div class = "wide-options">
		<div><a cv-link = "/feed?external=[[outbox]]">posts</a></div>
		<div><a cv-link = "/contacts?external=[[outbox]]">contacts</a></div>
		<div><a cv-link = "/media?external=[[outbox]]">media</a></div>
	</div>

</section>
